<?xml version="1.0" encoding="utf-8" standalone="yes" ?>
<EditorSettings>
    <Group name="Theme">
        <Setting name="tooltipDividerColor">72 70 68 255</Setting>
        <Setting name="headerTextColor">236 234 232 255</Setting>
        <Setting name="tabsSELColor">59 58 57 255</Setting>
        <Setting name="fieldBGHLColor">72 70 68 255</Setting>
        <Setting name="tooltipTextColor">255 255 255 255</Setting>
        <Setting name="fieldTextColor">178 175 172 255</Setting>
        <Setting name="windowBackgroundColor">32 31 30 255</Setting>
        <Setting name="headerColor">50 49 48 255</Setting>
        <Setting name="dividerDarkColor">17 16 15 255</Setting>
        <Setting name="fieldBGColor">59 58 57 255</Setting>
        <Setting name="tooltipBGColor">43 43 43 255</Setting>
        <Setting name="fieldTextSELColor">240 240 240 255</Setting>
        <Setting name="fieldBGSELColor">100 98 96 255</Setting>
        <Setting name="tabsColor">37 36 35 255</Setting>
        <Setting name="dividerLightColor">96 94 92 255</Setting>
        <Setting name="fieldTextHLColor">234 232 230 255</Setting>
        <Setting name="tabsHLColor">50 49 48 255</Setting>
        <Setting name="dividerMidColor">50 49 48 255</Setting>
    </Group>
    <Group name="GuiEditor">
        <Setting name="previewResolution">1024 768</Setting>
        <Setting name="lastPath">tools/gui</Setting>
        <Group name="EngineDevelopment">
            <Setting name="showEditorProfiles">0</Setting>
            <Setting name="toggleIntoEditor">0</Setting>
            <Setting name="showEditorGuis">0</Setting>
        </Group>
        <Group name="Help">
            <Setting name="documentationLocal">../../../Documentation/Official Documentation.html</Setting>
            <Setting name="documentationURL">http://www.garagegames.com/products/torque-3d/documentation/user</Setting>
            <Setting name="documentationReference">../../../Documentation/Torque 3D - Script Manual.chm</Setting>
        </Group>
        <Group name="Selection">
            <Setting name="fullBox">0</Setting>
        </Group>
        <Group name="Snapping">
            <Setting name="snap2Grid">0</Setting>
            <Setting name="snapToCanvas">1</Setting>
            <Setting name="snapToGuides">1</Setting>
            <Setting name="sensitivity">2</Setting>
            <Setting name="snapToEdges">1</Setting>
            <Setting name="snapToCenters">1</Setting>
            <Setting name="snapToControls">1</Setting>
            <Setting name="snap2GridSize">8</Setting>
        </Group>
        <Group name="Rendering">
            <Setting name="drawBorderLines">1</Setting>
            <Setting name="drawGuides">1</Setting>
        </Group>
        <Group name="Library">
            <Setting name="viewType">Categorized</Setting>
        </Group>
    </Group>
    <Group name="AxisGizmo">
        <Setting name="rotationSnap">15</Setting>
        <Setting name="mouseRotateScalar">0.8</Setting>
        <Setting name="renderWhenUsed">0</Setting>
        <Setting name="axisGizmoMaxScreenLen">100</Setting>
        <Setting name="snapRotations">0</Setting>
        <Setting name="mouseScaleScalar">0.8</Setting>
        <Setting name="renderInfoText">1</Setting>
        <Group name="Grid">
            <Setting name="gridSize">10 10 10</Setting>
            <Setting name="planeDim">500</Setting>
            <Setting name="gridColor">255 255 255 20</Setting>
            <Setting name="renderPlaneHashes">0</Setting>
            <Setting name="renderPlane">0</Setting>
            <Setting name="snapToGrid">0</Setting>
        </Group>
    </Group>
    <Group name="WorldEditor">
        <Setting name="orthoFOV">50</Setting>
        <Setting name="displayType">6</Setting>
        <Setting name="forceLoadDAE">0</Setting>
        <Setting name="dropType">screenCenter</Setting>
        <Setting name="undoLimit">40</Setting>
        <Setting name="currentEditor">WorldEditorInspectorPlugin</Setting>
        <Setting name="torsionPath">AssetWork_Debug.exe</Setting>
        <Setting name="orthoShowGrid">1</Setting>
        <Group name="Tools">
            <Setting name="objectsUseBoxCenter">1</Setting>
            <Setting name="dropAtScreenCenterScalar">1</Setting>
            <Setting name="snapGround">0</Setting>
            <Setting name="snapSoft">0</Setting>
            <Setting name="dropAtScreenCenterMax">100</Setting>
            <Setting name="boundingBoxCollision">0</Setting>
            <Setting name="snapSoftSize">2</Setting>
        </Group>
        <Group name="Color">
            <Setting name="objMouseOverColor">0 255 0 255</Setting>
            <Setting name="selectionBoxColor">255 255 0 255</Setting>
            <Setting name="objectTextColor">255 255 255 255</Setting>
            <Setting name="objSelectColor">255 0 0 255</Setting>
            <Setting name="popupBackgroundColor">100 100 100 255</Setting>
            <Setting name="objMouseOverSelectColor">0 0 255 255</Setting>
            <Setting name="dragRectColor">255 255 0 255</Setting>
        </Group>
        <Group name="Grid">
            <Setting name="gridSnap">0</Setting>
            <Setting name="gridMinorColor">51 51 51 100</Setting>
            <Setting name="gridColor">102 102 102 100</Setting>
            <Setting name="gridSize">1</Setting>
            <Setting name="gridOriginColor">255 255 255 100</Setting>
        </Group>
        <Group name="Docs">
            <Setting name="documentationURL">http://www.garagegames.com/products/torque-3d/documentation/user</Setting>
            <Setting name="documentationLocal">../../../Documentation/Official Documentation.html</Setting>
            <Setting name="forumURL">http://www.garagegames.com/products/torque-3d/forums</Setting>
            <Setting name="documentationReference">../../../Documentation/Torque 3D - Script Manual.chm</Setting>
        </Group>
        <Group name="ObjectIcons">
            <Setting name="fadeIconsEndAlpha">0</Setting>
            <Setting name="fadeIconsStartAlpha">255</Setting>
            <Setting name="fadeIconsEndDist">20</Setting>
            <Setting name="fadeIconsStartDist">8</Setting>
            <Setting name="fadeIcons">1</Setting>
        </Group>
        <Group name="Render">
            <Setting name="renderObjHandle">1</Setting>
            <Setting name="renderObjText">1</Setting>
            <Setting name="showMousePopupInfo">1</Setting>
            <Setting name="renderSelectionBox">1</Setting>
            <Setting name="renderPopupBackground">1</Setting>
        </Group>
        <Group name="Theme">
            <Setting name="windowTitleFontHLColor">255 255 255 255</Setting>
            <Setting name="windowTitleBGHLColor">48 48 48 255</Setting>
            <Setting name="windowTitleBGColor">50 50 50 255</Setting>
            <Setting name="windowTitleBGNAColor">180 180 180 255</Setting>
            <Setting name="windowTitleFontColor">215 215 215 255</Setting>
        </Group>
        <Group name="Images">
            <Setting name="defaultHandle">tools/worldEditor/images/DefaultHandle</Setting>
            <Setting name="selectHandle">tools/worldEditor/images/SelectHandle</Setting>
            <Setting name="lockedHandle">tools/worldEditor/images/LockedHandle</Setting>
        </Group>
    </Group>
    <Group name="NavEditor">
        <Setting name="SpawnClass">AIPlayer</Setting>
    </Group>
    <Group name="LevelInformation">
        <Setting name="levelsDirectory">data/FPSGameplay/levels</Setting>
        <Group name="levels">
            <Group name="PbrMatTest.mis">
                <Setting name="cameraSpeed">5</Setting>
            </Group>
            <Group name="BlankRoom.mis">
                <Setting name="cameraSpeed">25</Setting>
            </Group>
        </Group>
    </Group>
    <Group name="ConvexEditor">
        <Setting name="materialName">Grid_512_Orange</Setting>
    </Group>
</EditorSettings>
